{% include header.html %}

        <section class="article archive">
        
          <article class="archive-wrap">
          <lh >
            
          <h1><span class="bb">{{ page.title }}</span></h1>
           <header>         
           {{ content }}
           </header> 
          </lh>
          

              <ol class="post-list">
         		<li>
                    <div class="deets">
                        <h2><a href="array_map.html">array_map</a></h2>
                        <p class="">Sends each value of an array to a user-made function, and returns a new one, based on user-made function return expession</p>
                    </div>
                  </li>
                </ol>
          </article>
        </section>

{% include footer.html %}
