{% include header.html %}

        <section class="article archive">
        
          <article class="archive-wrap">
          <lh> 
            <h1><span class="bb">{{ page.title }}</span></h1>
            <header>         
            {{ content }}
            </header> 
          </lh>
          
              <ol class="post-list">
				         <li><div class="deets">
                  <h2><a href="vagrant_puppet_docker.html">Develop your php app upon Vagrant, Puppet and Docker</a></h2>
                 </div></li>
              </ol>
          </article> 
          </section>

{% include footer.html %}
